<div id="default-carousel" class="relative w-full" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative overflow-hidden rounded-lg h-screen">
         <!-- Item 1 -->
         <div class="hidden duration-3000 transition-transform ease-in-out" data-carousel-item>
            <img src="/1.webp" class="absolute block w-full h-screen object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 z-100">
                <!-- Fondo con opacidad -->
            </div>
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-3000 transition-transform ease-in-out" data-carousel-item>
            <img src="/2.webp" class="absolute block w-full h-screen object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 z-100">
                <!-- Fondo con opacidad -->
              </div>
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-3000 transition-transform ease-in-out" data-carousel-item>
            <img src="/3.webp" class="absolute block w-full h-screen object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 z-100">
                <!-- Fondo con opacidad -->
            </div>
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-3000 transition-transform ease-in-out" data-carousel-item>
            <img src="/4.webp" class="absolute block w-full h-screen object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 z-100">
                <!-- Fondo con opacidad -->
            </div>
        </div>
    </div>
     <!-- Título y eslogan centrados sobre el carrusel -->
     <div class="absolute top-[40%] left-1/2 transform text-center text-white font-bold z-30" >
        <span class="block bg-blue-500 h-1 w-0 animate-mainBlock"></span>
  <h1 class="textIn textInAnimation text-6xl title relative">GRUPO
    <span class="bg-clip-text text-transparent bg-[#FDCE15]">AVG</span>
  </h1>
  <span class="block bg-yellow-500 h-1 w-0 animate-mainBlock"></span>
        <!-- Línea divisoria -->
        <hr class="textIn textInAnimation mt-8 mb-6 border-t-2 border-white max-w-[80%] text-gray-300">
        <!-- Eslogan -->
        <p class="textIn textInAnimation text-lg lg:text-xl text-gray-300">Diseñamos, Construimos, Transformamos</p>
    </div>
    <!-- Slider indicators -->
   <!--  <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
    </div> -->
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/70 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/70 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>

<style>
    .textIn{
	font-family: 'arial black';
	text-align: center;
	transform: translateX(-200%);
	opacity: 0;
	animation: slide-in-anim 1.5s ease-out forwards;
    animation-iteration-count: infinite;
}
.textInAnimation {
        animation: none; /* Reset animation */
        animation: slide-in-anim 1.5s ease-out forwards;
    }

@keyframes slide-in-anim {
	20% {
		opacity: 0;
	}
	60% {
		transform: translateX(-45%);
	}
	75% {
		transform: translateX(-52%);
	}
	100% {
		opacity: 1;
		transform: translateX(-50%);
	}
}
</style>