<div class="flex flex-col md:flex-row gap-1 bg-[#023E8A] bg-opacity-60">
    <div class="card text-center h-96 relative flex justify-center items-center" style="background-image: url('/proyecto1/3.png');">
        <div class="overlay"></div>
        <h2 class="text-3xl text-[#FDCE15] z-10 relative">ERANIME <br><span class="text-white">Proyecto</span></h2>
    </div>
    <div class="card text-center h-96 relative flex justify-center items-center" style="background-image: url('/proyecto2/2.png');">
        <div class="overlay"></div>
        <h2 class="text-3xl text-[#FDCE15] z-10 relative">ERANIME <br><span class="text-white">Pista de Aterrisaje</span></h2>
    </div>
    <div class="card text-center h-96 relative flex justify-center items-center" style="background-image: url('/proyecto3/3.png');">
        <div class="overlay"></div>
        <h2 class="text-3xl text-[#FDCE15] z-10 relative">UTE AVG <br><span class="text-white">Milic</span></h2>
    </div>
    <div class="card text-center h-96 relative flex justify-center items-center">
        <div class="overlay"></div>
        <h2 class="text-3xl text-[#FDCE15] z-10 relative">4</h2>
    </div>
</div>

<style>
    .card {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 8px;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 8px;
    }
</style>
